* {
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}
.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight:weight;
  font-style: normal}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  background-color: #ffffff;
  
}

h1 
 {
  font-family: "Urbanist", sans-serif;
  font-size: 2 em;
  font-weight: 700;
  color: #ed2121;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
h1 a
 {
  font-family: "Urbanist", sans-serif;
  font-size: 2 em;
  font-weight: 700;
  color: #ed2121;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
h1 a:hover
 {
  font-family: "Urbanist", sans-serif;
  font-size: 2 em;
  font-weight: 700;
  color:#ffeeef;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease 0s;
}
h2
 {
  font-family: "Urbanist", sans-serif;
  font-size: 1.33em;
  font-weight: 400;
  color: #000000;
  cursor: pointer;
  text-decoration:none;
  
}
h3
 { 
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 1.33em;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
    /*border: 1px solid black;*/
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-bottom: 30px;
}
h4
 {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-weight: 600;
  font-size: 1.33em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
    /*border: 1px solid black;*/
    background-color: rgb(255, 255, 255);
    padding-top: 0em;
    padding-bottom: 2em;
}
p
 {
  /*font-family: "Schoolbell", cursive;*/
  font-family: "Urbanist", sans-serif;
  font-size: 1.33em;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-decoration:none;
 
}


.font-red {
  color: #e82121;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Urbanist', sans-serif;
  text-indent: 0px;
}
.red-process
{
  color: #e82121;
  font-family: 'Urbanist', sans-serif;
  text-indent: 0px;
  padding-left: 2em;
}
.nav__links a
 {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size:20px;
  color: #d70606;
  text-decoration: none;
  text-transform: uppercase;
  
}


  .container {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  .text {
    color: rgb(155, 0, 0);
    font-size: 1.3em;
    font-display: flex;
    font-weight: 500;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
  }
  .overlay {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffffa9;
    
;
  }
  .blur img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    }
  
  .container:hover img{
    opacity: 1;
    -webkit-filter: blur(4px);
    transition: 3s ease;
  }
  .container:hover .overlay {
    opacity: 1;
    transition: 1s ease;
    
  }
  
  
.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #ffeeef;
}
.center {
  display: block;
  margin: auto;
  width: 100%;
    padding: 20px;
  /*border: 3px solid #73AD21*/;
}


main
{
  display: contents;
  align-items: center;
  padding: 30px 10%;
  background-color: #ffffff;
}

.project-grid {
  padding-block: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
}
.responsive-image {
  width: 100%;
  max-width: 320px;
  height: auto;
}
.video {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.painting {
  position: relative;
  padding-top: 100%; 
  height: 0;
}

.painting img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-description > div{
  display: grid;
  padding-bottom: 1em;
  padding-inline: 2em;
}
.project-grid > div{

  background-color: #ffffff;
  }

.project-images{
  padding-block: 3em;
  display: contents;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 100%;
  padding: 1em;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}



/* This template for GALLERY */

.row-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column-gallery {
  flex: 25%;
  max-width: 100%;
  padding: 0.5em;
}

.column-gallery img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media only screen and (min-width: 390px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .box{
    width: 70%;
  }
  body 
  {
   /* background-color: red;*/
  }
}

@media only screen and (max-width: 1000px) {
  header
  {
    padding:  1.3em 5%;
  }
  .column {
    flex: 33%;
    max-width: 33%;}
  .column-gallery {
    flex: 33%;
    max-width: 33%;}
    body 
  {
    /*background-color: green;*/
  }
}
@media only screen and (max-width: 768px) {
  .column {
    flex: 100%;
    max-width: 100%;}
    .column-gallery {
      flex: 100%;
      max-width: 100%;} 
      body 
      
  {
    /*background-color: yellow;*/
  }   
  .nav__links a
  {
   font-family: "Urbanist", sans-serif;
   font-weight: 400;
   font-size: 19px;
   color: #d70606;
   text-decoration: none;
   text-transform: lowercase;
 }
 .nav__links {
  display: flex;
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;
}
 .project-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;}


  h3
 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
    /*border: 1px solid black;*/
    background-color: rgb(255, 255, 255);
    padding-top: 70px;
    padding-bottom: 30px;
}
.box{
  width: 100%;
}

 /* .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }*/
}
